.root {
    -fx-background-image: url("background2.jpg");
}

.borderPane {
    -fx-border-color: #2A5058;
    -fx-border-width: 9px;
}

.button {
    -fx-font-family: "MS Gothic";
    -fx-text-fill: #505DCE;
}

#text {
    -fx-font-family: "Arial Black";
    -fx-text-fill: #A60F0F;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}